.Contactpg_intro{
    
    background-image: url("https://images.pexels.com/photos/1648771/pexels-photo-1648771.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
height: 60vh;
color: white;
text-align: center;
padding-top: 20vh;

}
.c_1{
    font-weight: 600;
    font-size: 30px;
    font-style: italic;
    animation: eff 2s ;
}
.c_2{
    font-weight: 600;
    font-style: italic;
    animation: eff 2s ;
    font-size: 4vw;
}
.c_3{
    font-size: 2vw;
    font-weight: 600;
    animation: eff 2s ;
    font-style: italic;
}
.Contactpg_content{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: whitesmoke;
}
.c1{
    background-color:transparent;
    margin: 20px;
    flex: 100%;
    padding:30px 30px 0px 0px;
    animation: eff 2s ;

}
.c1 img{
    box-shadow:  0 0 10px 10px gainsboro;
}
.cp_t1{
    
    font-weight: 500;
    font-size: 3vw;
}
.cp_t2{
    font-style: italic;
    font-weight: 500;
    padding-bottom: 10vh;
    color: gray;
}
.cp_t3{
    font-style: italic;
    font-weight: 500;
}
.c1 input{
    height: 40px;
    width: 21vw;
    background-color: white;
    color: gray;
    font-weight: 700;
    margin-bottom: 30px;
    border-color: gray;
    border-radius: 5px;
}
.c1  button{
    padding: 10px;
    border-radius: 15px;


}