.Testpg_intro{
    background-image: url("https://images.pexels.com/photos/1055058/pexels-photo-1055058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
/* background-repeat: no-repeat; */
/* background-size: cover; */
    height: 80vh;
margin-top:0px ;
text-align: center;

}
.all{
    background-image: url("https://images.pexels.com/photos/1099816/pexels-photo-1099816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: -20vh;
}

.txtt{
    animation: eff 2s ;
    color:white;
    padding-top: 15vh;

}
@keyframes eff {
    from {
        margin-left: -100%;
        transform:rotate(-90deg);
      }
      to {
        left:15vw
      }
   
  
    
  }
  .ti_1{
    font-weight: 800;
    font-style: italic;
    font-size: 3vw;

  }
  .ti_2{
    font-weight: 800;
    font-style: italic;
    font-size: 5vw;

  }.ti_3{
    font-weight: 800;
    font-style: italic;
    font-size: 2vw;

  }
